* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

main{
  height: 100vh;
  width: 100%;
  background: rgb(117,84,160);
  background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main h1{
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  width: 40%;
  font-size: 2em;
  border-radius: 20px;
}

main button{
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

input{
  margin: 10px;
  height: 35px;
  width: 40px;
  border: none;
  border-bottom: solid 1px;
  text-align: center;
  font-size: 1.1rem;
}

.container .verify{
  margin: 25px auto 0px auto;
  width: 70%;
  height: 40px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgb(61, 97, 12);
  cursor: pointer;
}

.change-reSend .changeNumber{
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: blue;
  float: left;
  cursor: pointer;
}

.change-reSend .re-send{
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: blue;
  float: right;
  cursor: pointer;
}